.hero-section-content-container {
	margin-inline: 1rem;
}

.hero-section-content {
	text-align: center;
}

.hero-main-heading {
	font-size: 3.125rem;
	font-family: "EB Garamond", sans-serif;
	margin-bottom: 1.25rem;
}

.hero-lines-and-business-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 3.125rem;
}

.hero-line {
	background-color: #db64f5;
	outline: none;
	border: none;
	height: 1px;
	width: 6.25rem;
}

.hero-business-name {
	color: #272727;
	font-size: 1.125rem;
	font-family: "EB Garamond", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.313rem;
	margin-block: 0.313rem;
}

.hero-section-img {
	background-image: url("../images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
}

.main-section-container {
	background-image: url("../images/18240979_v748-toon-103.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 3.125rem;
}

.main-content-container {
	margin-inline: 1rem;
}

.main-content {
	text-align: center;
}

.main-content-text {
	font-family: "Quicksand", sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	color: #272727;
	line-height: 1.5;
	margin-bottom: 1.25rem;
}

.main-section-book-a-table-btn-container {
	margin-block: 2.5rem;
}

.main-section-book-a-table-btn a {
	font-family: "Quicksand", sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	background-color: #db64f5;
	color: #ffffff;
	padding: 0.75rem 1.875rem;
	text-decoration: none;
	border: none;
	border-radius: 0.313rem;
}

.main-section-book-a-table-btn a:hover {
	background-color: #b9f564;
	color: #000000;
	transition: all 0.3s ease;
}

.main-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.main-img {
	width: 6.25rem;
	height: 6.25rem;
	margin: 0.313rem;
}

.heritage-section-container {
	padding-top: 3.125rem;
}

.heritage-container {
	text-align: center;
	margin-inline: 1rem;
}

.hertitage-title {
	font-size: 2rem;
	font-family: "EB Garamond", sans-serif;
	margin-bottom: 1.25rem;
}

.heritage-text {
	font-family: "Quicksand", sans-serif;
	font-size: 1.125rem;
	color: #272727;
	line-height: 1.5;
	margin-block: 1.563rem;
}

.heritage-img {
	margin-block: 2rem;
}

.special-menu-section-container {
	background-image: url("../images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.special-menu-content-container {
	background-color: #000000e7;
	padding-top: 3.75rem;
	text-align: center;
}

.special-menu-heading {
	font-size: 3.125rem;
	font-family: "EB Garamond", sans-serif;
	color: #ffffff;
	margin-bottom: 3.75rem;
}

.special-menu-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-inline: 1rem;
}

.menu-content {
	margin-bottom: 3.125rem;
}

.special-menu-name {
	font-size: 1.875rem;
	font-family: "EB Garamond", sans-serif;
	color: #ffffff;
	margin-bottom: 0.938rem;
}

.special-menu-img {
	margin-bottom: 0.938rem;
}

.special-menu-ingredients {
	font-family: "Quicksand", sans-serif;
	font-size: 1.125rem;
	color: #ffffff;
	margin-bottom: 0.938rem;
}

.special-menu-price {
	font-size: 1.75rem;
	font-family: "EB Garamond", sans-serif;
	color: #ffffff;
}

.special-menu-book-a-table-btn-container {
	padding: 1.875rem 0 6.25rem;
}

.special-menu-book-a-table-btn a {
	font-family: "Quicksand", sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	background-color: #db64f5;
	color: #ffffff;
	padding: 0.75rem 1.875rem;
	text-decoration: none;
	border: none;
	border-radius: 0.313rem;
}

.special-menu-book-a-table-btn a:hover {
	background-color: #b9f564;
	color: #000000;
	transition: all 0.3s ease;
}

.review-section-container {
	margin-bottom: 7.5rem;
}

.review-content-container {
	padding-top: 3rem;
}

.reviewer-content-container {
	margin-inline: 1rem;
}

.review-heading {
	text-align: center;
	font-size: 2rem;
	font-family: "EB Garamond", sans-serif;
	margin-bottom: 1.25rem;
}

.review-blockquote::before {
	display: block;
	margin: -1.25rem 0 -2.5rem 0;
	content: "\201c";
	font-size: 6.25rem;
	color: #9e9e9e;
}

.review-blockquote::after {
	display: block;
	margin: 70px 0 -40px 0;
	content: "\201c";
	font-size: 6.25rem;
	color: #9e9e9e;
}

.review {
	font-family: "Quicksand", sans-serif;
	font-size: 1.125rem;
	color: #272727;
	line-height: 1.5;
	margin-block: 1.563rem;
}

.review-line {
	background-color: #dbdbdb;
	outline: none;
	border: none;
	width: 15.625rem;
	height: 1px;
}

.reviewer-container {
	display: flex;
	align-items: center;
	margin-top: 1.25rem;
}

.reviewer-img-container {
	margin-right: 0.938rem;
}

.reviewer-img {
	width: 3.125rem;
	height: 3.125rem;
}

.reviewer-name {
	font-family: "EB Garamond", sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.313rem;
}

.reviewer-description {
	font-family: "Quicksand", sans-serif;
	font-size: 1rem;
	font-style: italic;
	color: #272727;
}

@media (min-width: 426px) {
}

@media (min-width: 769px) {
}
